/* Typography */ 

/* html {scroll-behavior:smooth;} */ 
body {font-family:"Roboto",sans-serif;color:#000000;padding-top:50px;}
a {word-wrap:break-word;text-decoration:none;color:currentColor;}
a:hover {text-decoration:none;}
a:focus {outline:0;}
a:active:focus {outline:0;}
label {font-weight:normal;}
h1 , h2 , h3 , h4 , h5 , h6 {margin-top:0;}

/* p {white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;} */

/* Placeholders */ 
::-webkit-input-placeholder {color:#555555;}
:-moz-placeholder {color:#555555;}
::-moz-placeholder {color:#555555;}
:-ms-input-placeholder {color:#555555;}

/* Utilities */ 
.p-auto {padding:auto !important;}
.p-0 {padding:0 !important;}
.pt-0 {padding-top:0 !important;}
.pr-0 {padding-right:0 !important;}
.pb-0 {padding-bottom:0 !important;}
.pl-0 {padding-left:0 !important;}
.p-1 {padding:1rem !important;}
.pt-1 {padding-top:1rem !important;}
.pr-1 {padding-right:1rem !important;}
.pb-1 {padding-bottom:1rem !important;}
.pl-1 {padding-left:1rem !important;}
.p-2 {padding:2rem !important;}
.pt-2 {padding-top:2rem !important;}
.pr-2 {padding-right:2rem !important;}
.pb-2 {padding-bottom:2rem !important;}
.pl-2 {padding-left:2rem !important;}
.p-3 {padding:3rem !important;}
.pt-3 {padding-top:3rem !important;}
.pr-3 {padding-right:3rem !important;}
.pb-3 {padding-bottom:3rem !important;}
.pl-3 {padding-left:3rem !important;}
.p-4 {padding:4rem !important;}
.pt-4 {padding-top:4rem !important;}
.pr-4 {padding-right:4rem !important;}
.pb-4 {padding-bottom:4rem !important;}
.pl-4 {padding-left:4rem !important;}
.m-auto {margin:auto !important;}
.m-0 {margin:0 !important;}
.mt-0 {margin-top:0 !important;}
.mr-0 {margin-right:0 !important;}
.mb-0 {margin-bottom:0 !important;}
.ml-0 {margin-left:0 !important;}
.m-1 {margin:1rem !important;}
.mt-1 {margin-top:1rem !important;}
.mr-1 {margin-right:1rem !important;}
.mb-1 {margin-bottom:1rem !important;}
.ml-1 {margin-left:1rem !important;}
.m-2 {margin:2rem !important;}
.mt-2 {margin-top:2rem !important;}
.mr-2 {margin-right:2rem !important;}
.mb-2 {margin-bottom:2rem !important;}
.ml-2 {margin-left:2rem !important;}
.m-3 {margin:3rem !important;}
.mt-3 {margin-top:3rem !important;}
.mr-3 {margin-right:3rem !important;}
.mb-3 {margin-bottom:3rem !important;}
.ml-3 {margin-left:3rem !important;}
.m-4 {margin:4rem !important;}
.mt-4 {margin-top:4rem !important;}
.mr-4 {margin-right:4rem !important;}
.mb-4 {margin-bottom:4rem !important;}
.ml-4 {margin-left:4rem !important;}
.w-100 {width:100%;}
.w-auto {width:auto;}
.mw-100 {max-width:100%;}
.d-block {display:block;}
.d-inline {display:inline;}
.d-inline-block {display:inline-block;}
.o-hidden {overflow:hidden;}
.ox-hidden {overflow-x:hidden;}
.oy-hidden {overflow-y:hidden;}
.border {border:1px solid #dee2e6 !important;}
.border-top {border-top:1px solid #dee2e6 !important;}
.border-right {border-right:1px solid #dee2e6 !important;}
.border-bottom {border-bottom:1px solid #dee2e6 !important;}
.border-left {border-left:1px solid #dee2e6 !important;}
.border-0 {border:0 !important;}
.border-top-0 {border-top:0 !important;}
.border-right-0 {border-right:0 !important;}
.border-bottom-0 {border-bottom:0 !important;}
.border-left-0 {border-left:0 !important;}
.shadow-none {box-shadow:none !important;}
.shadow {box-shadow:0 .5rem 1rem rgba(0,0,0,.15);}
.shadow-sm {box-shadow:0 .125rem .25rem rgba(0,0,0,.075);}
.shadow-lg {box-shadow:0 1rem 3rem rgba(0,0,0,.175);}
.text-lowercase {text-transform:lowercase !important;}
.text-uppercase {text-transform:uppercase !important;}
.text-capitalize {text-transform:capitalize !important;}
.font-weight-bold {font-weight:700 !important;}
.font-weight-normal {font-weight:400 !important;}
.font-italic {font-style:italic !important;}
.align-top {vertical-align:top !important;}
.align-middle {vertical-align:middle !important;}
.rounded {border-radius:.25rem !important;}
.rounded-top {border-top-left-radius:.25rem !important;border-top-right-radius:.25rem !important;}
.rounded-right {border-top-right-radius:.25rem !important;border-bottom-right-radius:.25rem !important;}
.rounded-bottom {border-bottom-right-radius:.25rem !important;border-bottom-left-radius:.25rem !important;}
.rounded-left {border-top-left-radius:.25rem !important;border-bottom-left-radius:.25rem !important;}
.rounded-circle {border-radius:50% !important;}
.rounded-pill {border-radius:50rem !important;}
.rounded-0 {border-radius:0 !important;}
.pe-none {pointer-events:none;}

/* Utility > Colors */ asdasd
.text-muted {color:#6b6b6b !important;}
.text-white {color:#ffffff !important;}
.text-black {color:#000000 !important;}
.text-warning {color:#c39749 !important;}
.text-danger {color:#dc3545 !important;}
.text-gray {color:#f0f0f0 !important;}

/* Bootstrap 3.3.7 Overrides & Addons */ 
.col-xs-15 , .col-sm-15 , .col-md-15 , .col-lg-15 {position:relative;min-height:1px;padding-right:10px;padding-left:10px;}
.col-xs-15 {width:20%;float:left;}
@media (min-width:768px) {.col-sm-15 {width:20%;float:left;}}
@media (min-width:992px) {.col-md-15 {width:20%;float:left;}}
@media (min-width:1200px) {.col-lg-15 {width:20%;float:left;}}
.dropdown-menu .divider {max-width:100%;}

/* Cookies */ 
#cookieChoiceInfo {position:fixed;background-color:rgba(0,0,0,.7);z-index:999;bottom:0;left:0;width:100%;text-align:center;padding:20px;font-size:12px;color:#ffffff;}
#cookieChoiceInfo a {background-color:#ffffff;color:#000000;margin-left:10px;padding:5px 10px;margin-top:10px;display:inline-block;}

/* No padding col */ 
.row.no-gutters [class*="col-"] {padding-left:0 !important;padding-right:0 !important;}
.row.row-narrow [class*="col-"] {padding-left:6px !important;padding-right:6px !important;}
.row.row-narrow {margin:0 -6px;}

/* Buttons > Globals */ 
button {outline:none !important;}
.btn {border-radius:0;white-space:normal;border:0;padding:8px 16px;}
.btn.focus , .btn:focus , .btn:hover {outline:0;}

/* Buttons > Size */ 
.btn.btn-sm {padding:4px 8px;}
.btn-icon {padding:8px 16px;}
.btn.btn-link {padding:0;}

/* Buttons > Types */ 
.btn-primary {background:#1a1a1a;color:#ffffff;}
.btn-primary:hover {background:#1a1a1a !important;color:#ffffff !important;}
.btn-primary:focus {outline:0;background:#1a1a1a !important;color:#ffffff !important;}
.btn-secondary {background:#dddddd;color:#000000;}
.btn-secondary:hover {background:#dddddd !important;color:#000000 !important;}
.btn-secondary:focus {outline:0;background:#dddddd !important;color:#000000 !important;}

/* 
.btn-name{}
.btn-name:hover{}
.btn-name:focus{}
*/ 

/* Animations */ 
.wow {visibility:hidden;}

/* Anchor */ 
.anchor {display:block;height:50px;margin-top:-50px;visibility:hidden;}

/* Elements */ 
.go-top {position:fixed;bottom:15px;right:15px;text-decoration:none;color:#ffffff;background-color:rgba(0,0,0,.7);font-size:12px;padding:10px 15px;display:none;z-index:99;}
.go-top:hover {opacity:.8;}
.go-top i {font-size:20px;color:#ffffff;}

/* Modals */ 
.modal-content {border:10px solid #ffffff;background:#f3f3f3;border-radius:0;-webkit-background-clip:initial;background-clip:initial;}
.modal-header .close {font-size:42px;font-weight:900;color:#000000;text-shadow:none;filter:alpha(opacity=100);opacity:1;}
.modal-title {color:#000000;font-size:30px;font-weight:900;text-transform:uppercase;}
.modal-body p {font-size:12px;}
.modal-body p a {color:#000000;text-decoration:underline;}

/* Panel */ 
.panel {border:0;box-shadow:none;}
.panel-heading {padding:0;}
.panel-default > .panel-heading {background-color:transparent;}
.panel-body {padding:20px 0;}
.panel-group .panel {border:0;border-radius:0;background:transparent;border-bottom:1px solid #dedede;padding:0;box-shadow:none;}
h4.panel-title {margin-bottom:0 !important;font-weight:700;font-size:20px;}
.panel-title > a {display:block;padding:15px 0;font-size:16px;}
.panel-title a:after {font-family:"Font Awesome 5 Free";content:"\f067";float:right;color:#333333;}
.panel-title a.collapsed:after {content:"\f068";}
.panel-group .panel-heading + .panel-collapse > .list-group , .panel-group .panel-heading + .panel-collapse > .panel-body {border:0;padding:20px;}

/* Taber */ 
.taber-body {padding-top:15px;}

/* Lists > Globals */ 
.list-unstyled , .list-group {margin:0;padding:0;}
.list-group li {list-style:none;padding-bottom:10px;}
.list-group li a {color:#616161;}
.list-group li a.active {color:#000000;}

/* Lists > Group */ 
.list-group-item {background-color:#ffffff;border-bottom:1px solid #f4f4f4;border-top:0;border-right:0;border-left:0;margin-bottom:0;}
.list-group-item:first-child {border-radius:0;}
.list-group-item:last-child {border-radius:0;border-bottom:0;}

/* Lists > N Cols (ul) */ 
.list-2cols {-moz-column-count:2;-moz-column-gap:20px;-webkit-column-count:2;-webkit-column-gap:20px;column-count:2;column-gap:20px;}
.list-3cols {-moz-column-count:3;-moz-column-gap:20px;-webkit-column-count:3;-webkit-column-gap:20px;column-count:3;column-gap:20px;}

/* Scroll down */ 
.scroll-down {position:absolute;left:0;right:0;margin:0 auto;bottom:0;transform:translateX(-50%);z-index:9;text-align:center;font-size:12px;text-shadow:none;background-color:#ffffff;width:40px;height:40px;color:#585857;padding:12px;animation-duration:2s;}

/* Progress Bar */ 
.progress-step li {text-align:center;width:20%;margin-left:-3px;position:relative;color:#4c4c4c;}
.progress-step li small {display:block;margin-top:5px;}
.progress-step li:first-child:before {display:none;}
.progress-step li:before {content:"";width:100%;height:4px;background-color:#dddddd;display:block;position:absolute;bottom:8px;left:-50%;}
.progress-step li.active {color:#000000;}
.progress-step li.active:before {background-color:#8befc2;}
.progress-step li:after {content:"";width:20px;height:20px;background-color:#dddddd;display:block;margin:15px auto 0;border-radius:50%;position:relative;z-index:2;}
.progress-step li.active:after {background-color:#8befc2;}

/* Cards > Globals */ 
.card {position:relative;min-width:0;word-wrap:break-word;border:1px solid #f4f4f4;margin-bottom:30px;background-color:#ffffff;transition:.3s all ease-in-out;}
a.d-block:hover .card {opacity:.8;transition:.3s all ease-in-out;}
.card .card-header {padding:14px 20px;font-size:18px;font-weight:bold;border-bottom:1px solid #f4f4f4;}
.card .card-bg {position:relative;width:100%;height:220px;background-size:cover;background-repeat:no-repeat;background-position:center;}
.card .card-body {padding:18px 20px;color:#000000;}
.card .card-title {font-size:18px;font-weight:bold;margin:0 0 20px;}
.card .card-footer {padding:14px 20px;border-top:1px solid #f4f4f4;}
.card .card-footer:last-child {border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px);}

/* Cards > Badges */ 
.card-badge {position:absolute;}
.card-badge.bottom-right {bottom:20px;right:20px;}
.card-badge.bottom-left {bottom:20px;left:20px;}
.card-badge.top-right {top:20px;right:20px;}
.card-badge.top-left {top:20px;left:20px;}

/* Cards > Overlay */ 
.card .card-overlay .card-body {position:absolute;top:50%;transform:translate(0,-50%);bottom:auto;left:0;right:0;width:100%;color:#ffffff;}
.card .card-overlay:before {content:"";position:absolute;background:rgba(0,0,0,.4);width:100%;height:100%;left:0;right:0;top:0;bottom:0;}

/* Cards > Overlay [Hover] */ 
.card.has--overlay .card-overlay {opacity:0;transition:.3s all ease-in-out;}
.card.has--overlay:hover .card-overlay {opacity:1;transition:.3s all ease-in-out;cursor:pointer;}

/* Cards > Overlay [Hover] > ICON */ 
.card .card-overlay .card-overlay__icon {opacity:0;transition:.3s all ease-in-out;position:absolute;top:50%;transform:translate(0,-50%);left:0;right:0;text-align:center;}
.card:hover .card-overlay .card-overlay__icon {opacity:1;transition:.3s all ease-in-out;cursor:pointer;}

/* Cards > Animation [Hover] > Elevation */ 
.card.has--elevation {transition:.3s all ease-in-out;box-shadow:none;}
.card.has--elevation:hover {-webkit-transform:translateY(-15px);-ms-transform:translateY(-15px);transform:translateY(-15px);transition:.3s all ease-in-out;box-shadow:0 1rem 3rem rgba(0,0,0,.175);}

/* Cards > Elements */ 
.card .card-date {font-size:12px;margin-bottom:10px;}
.card .card-date:before {content:"\f073";font-family:"Font Awesome 5 Free";font-weight:normal;margin-right:5px;}
.card .card-price {font-size:22px;margin-bottom:10px;}
.card .card-category {font-size:12px;margin-bottom:10px;color:#807272;text-transform:uppercase;}
.card .card-category:before {content:"#";font-weight:normal;margin-right:5px;}
.card .card-link {padding:10px 20px;background:#000000;color:#ffffff;display:inline-block;font-size:14px;}

/* Cards > Horizontal */ 
.card.horizontal {min-height:195px;overflow:hidden;clear:both;}
.card.horizontal .card-header {float:left;width:40%;}
.card.horizontal .card-body {float:left;width:60%;}
.card.horizontal .card-footer .card-link {padding:10px 20px;background-color:#000000;color:#ffffff;display:inline-block;font-size:14px;}

/* Forms */ 
label.error {display:none !important;}
label.control--checkbox {font-weight:normal;}
.form-group {position:relative;}
.form-control {border-radius:0;border:1px solid #dddddd;margin-bottom:10px;height:auto;padding:8px 12px;box-shadow:none;}
.form-control.has-error , .control__privacy .control__indicator.has-error {border-color:rgb(169, 68, 66);background-color:rgba(169, 68, 66,.2);}
.form-control.has-error::placeholder {color:#ffffff;}
.form-recaptcha.has-error iframe {border:2px solid #a94442;}
.form-request .row {margin-left:-6px;margin-right:-6px;}
.form-request .row [class*="col-"] {padding-left:6px;padding-right:6px;}
.input-group .btn {border:1px solid #000000;}

/* Custom inputs */ 
.control {display:block;position:relative;padding:0 0 0 35px;margin:0 0 20px 0;cursor:pointer;font-size:11px;}
.control input {position:absolute;z-index:-1;opacity:0;}
.control-group {display:inline-block;vertical-align:top;background:#ffffff;text-align:left;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);box-shadow:0 1px 2px rgba(0,0,0,.1);padding:30px;width:200px;height:210px;margin:10px;}
.control--group {display:block;position:relative;padding-left:35px;margin:32px 0;cursor:pointer;font-size:16px;}
.control--radio .control__indicator {border-radius:50%;border:1px solid #dddddd;background:#ffffff !important;}
.control__indicator {position:absolute;top:0;left:0;height:18px;width:18px;background:#ffffff;border:1px solid #7b7b7b;border-radius:2px;}
.control__indicator:after {content:"";position:absolute;display:none;}
.control:hover input ~ .control__indicator , .control input:focus ~ .control__indicator {background:#f4f4f4;}
.control:hover input:not([disabled]):checked ~ .control__indicator , .control input:checked:focus ~ .control__indicator {background:#7b7b7b;}
.control input:checked ~ .control__indicator {background:#7b7b7b;border:0;border:1px solid #dddddd;}
.control input:checked ~ .control__indicator:after {display:block;}
.control input:disabled ~ .control__indicator {background:#e6e6e6;opacity:.6;pointer-events:none;}
.control--checkbox .control__indicator:after {left:5px;top:2px;width:6px;height:10px;border:solid #ffffff;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.control--checkbox input:disabled ~ .control__indicator:after {border-color:#7b7b7b;}
.control--radio .control__indicator:after {left:4px;top:4px;height:8px;width:8px;border-radius:50%;background:#7b7b7b;}
.control--radio input:disabled ~ .control__indicator:after {background:#7b7b7b;}
.select {position:relative;display:inline-block;width:100%;}
.select select {width:100%;cursor:pointer;padding:8px 12px;outline:0;background:#ffffff;color:#000000;-ms-appearance:none;-webkit-appearance:none;-moz-appearance:none;border:1px solid #dddddd;border-radius:0;-webkit-box-shadow:none;box-shadow:none;border-color:#dddddd;}
.select select::-ms-expand {display:none;}
.select select:disabled {opacity:.5;pointer-events:none;}
.select__arrow:before {position:absolute;top:10px;right:15px;pointer-events:none;content:"\f107 ";font-family:"Font Awesome 5 Free";color:#dddddd;font-size:15px;font-weight:700;}
.select select:hover ~ .select__arrow , .select select:focus ~ .select__arrow {border-top-color:#000000;}
.select select:disabled ~ .select__arrow {border-top-color:#807272;}
.box-radio {border:1px solid #f4f4f4;border-radius:.75rem;}

/* Isotope > Globals */ 
.isotope__filters {margin:30px 0;text-align:center;}
.isotope__filters .btn {margin:4px;}
.isotope__filters .btn.is-checked {background:red !important;color:#ffffff;}

/* Slick > Globals */ 
.slick-prev {left:15px;z-index:9;}
.slick-next {right:15px;z-index:9;}
.slick-slide {margin:0 8px;}
.slick-arrow:hover {cursor:pointer;}
.carousel-info {position:absolute;bottom:50px;z-index:99;right:40px;color:#ffffff;font-size:20px;text-align:center;margin:0 auto;right:0;left:0;font-size:16px;}
.carousel-info__current {font-size:16px;}
.carousel-info__total {font-size:16px;}

/* Slick > Custom Arrows */ 
.carousel-arrow__left {position:absolute;left:0;z-index:9;top:50%;transform:translate(0,-50%);color:#ffffff;font-size:20px;padding:10px;background:rgba(255,255,255,.2);}
.carousel-arrow__right {position:absolute;right:0;z-index:9;top:50%;transform:translate(0,-50%);color:#ffffff;font-size:20px;padding:10px;background:rgba(255,255,255,.2);}

/* Carousels > Home */ 
.carousel-container {position:relative;}
.carousel-home.slick-slider {margin:0;}
.carousel-home .slick-slide {margin:0;}
.carousel-home .slick-dots {bottom:20px;}
.carousel-home .slick-dots li button:before {color:#555555;}
.carousel-home .slick-dots li button:before {font-size:16px;}
.carousel-home .slick-dots li.slick-active button:before {color:#ff0000;}
.carousel-home .card-bg {height:650px;}
.carousel-home .card .card-overlay .card-body {max-width:1170px;margin:0 auto;}

/* Icons */ 
.icon {width:18px;height:18px;display:inline-block;background-size:contain;background-repeat:no-repeat;background-position:center center;}
.icon24 {width:24px;height:24px;display:inline-block;background-size:contain;background-repeat:no-repeat;background-position:center center;}
.icon36 {width:36px;height:36px;display:inline-block;background-size:contain;background-repeat:no-repeat;background-position:center center;}
.icon--right {background-position:right center;}
.icon--middle {vertical-align:middle;position:relative;}
.icon--inline {vertical-align:middle;position:relative;margin-right:4px;}
.icon-play {content:"\f04b";font-family:"Font Awesome 5 Free";}

/* Icons > Images */ 
.icon-flag-it {background-image:url(/assets/icons/icon-flag-it.svg);}
.icon-flag-uk {background-image:url(/assets/icons/icon-flag-uk.svg);}

/* Tables */ 
.table.has-actions tr th:last-child , .table.has-actions tr td:last-child {text-align:right;}

/* Tables > Cart */ 
.checkout__recap .badge {background:transparent;color:#000000;padding:0;font-size:initial;line-height:initial;font-weight:normal;}
.table.table-cart .price , .checkout__recap .price {font-weight:bold;font-size:18px;}
.table.table-cart .list-inline a {font-size:12px;}
.table.table-cart input[type="number"] {width:60px;margin-bottom:0;}

/* Head + Nav */ 
nav .container {position:relative;}
.nav .open > a , .nav .open > a:focus , .nav .open > a:hover {background-color:transparent;}
.navbar.navbar-default {min-height:auto;margin-bottom:0;background-color:#ffffff;border:0;box-shadow:none;border-radius:0;}
.navbar.navbar-default .navbar-brand {padding:5px 15px;}
.navbar.navbar-default .navbar-brand > img {height:40px;}
.navbar.navbar-default .navbar-nav > li {margin:0;}
.navbar.navbar-default .navbar-nav > li > a {padding:15px;text-transform:uppercase;color:#000000;}
.navbar.navbar-default .navbar-nav > li > a:hover {color:#3d99f5;background-color:transparent;}
.navbar-default .navbar-nav > .active > a {background-color:transparent;color:#3d99f5;}
.navbar.navbar-default .navbar-nav > .open > a , .navbar.navbar-default .navbar-nav > .open > a:focus , .navbar.navbar-default .navbar-nav > .open > a:hover {background-color:transparent;}
.navbar.navbar-default .nav > li.active > a {color:#3d99f5 !important;background-color:transparent !important;}
.navbar.navbar-default .nav > li .fa-shopping-cart {position:relative;}
.dropdown-menu {border:0;border-top:1px solid #f4f4f4;border-radius:0;}

/* Head + Affix */ 
.navbar.navbar-default.is--affix {background:#000000;box-shadow:0 0 7px rgba(0,0,0,.3);}
.navbar.navbar-default.is--affix .nav > li > a {color:#ffffff;}

/* Head + Megamenu */ 
.navbar.navbar-default .dropdown.mega-menu {position:static;}
.navbar.navbar-default .dropdown.mega-menu .dropdown-menu {width:100%;border:0;border-radius:0;padding:20px 25px;box-shadow:none;border-top:1px solid #f4f4f4;}
.navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu ul {padding:0;position:relative;display:block;border:0;box-shadow:none;margin-top:10px;}
.navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu li a {display:block;padding:5px 0;color:#333333;white-space:nowrap;}
.navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu li a:focus , .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu li a:hover {color:#3d99f5;text-decoration:none;background-color:transparent;}
.navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu a.dropdown-toggle {text-transform:uppercase;font-weight:700;}
.navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu a.dropdown-toggle .fa {display:none;}

/* has-loadmore */ 
.has-loadmore .card {display:none;}

/* Backgrounds */ 
.bg-transparent {background-color:transparent !important;}
.bg-grey {background-color:#f0f0f0 !important;}
.bg-grey-dark {background-color:#333333 !important;}
.bg-black {background-color:#000000 !important;}
.bg-white {background-color:#ffffff !important;}

/* .bg-demo {background-image:url(/assets/img/bg-demo.jpg);background-position:center center;background-repeat: no-repeat;background-size:cover;} */ 

/* Section > Globals */ 
.section {position:relative;padding:50px 0;}
.section.section-narrow {padding:20px 0;}

/* Section > Header */ 
.section.section-header {padding:60px 0;}

/* Dividers */ 
.divider {display:inline-block;margin:20px 0;width:100%;max-width:160px;height:3px;}
.divider-primary {background:#333333;}

/* Section > Titles */ 
.section-title h3 {font-size:32px;font-weight:bold;margin-bottom:20px;}
.section-title h4 {font-size:18px;text-transform:uppercase;}
.section-title h3 + .divider {margin-top:0;}

/* Section > Video */ 
.section-video {overflow:hidden;position:relative;height:70vh;}
.section-video .button-play {position:absolute;bottom:30px;left:30px;}
.section-video .button-audio {position:absolute;bottom:30px;right:30px;}
.section-video .videoContainer {pointer-events:none;width:100%;max-height:70vh;height:70vh;top:0;left:0;bottom:0;right:0;transform:scale(2);overflow:hidden;}
.section-video iframe {width:100%;height:100%;}

/* Section > Breadcrumbs */ 
.section-breadcrumbs {padding:0;background-color:#f5f5f5;font-size:12px;}
.section-breadcrumbs .breadcrumb {background:transparent;padding:12px 0;}
.breadcrumb > .active {color:#606060;}

/* Section > Counter */ 
.section-counter .counter {font-size:50px;}
.section-counter .counter-text {font-size:50px;}
.section-counter .counter-text small {font-size:20px;margin-left:-5px;}

/* Section > Timeline */ 
.section-timeline .timeline-event {display:inline-block;width:100%;cursor:pointer;margin-bottom:20px;}
.section-timeline .timeline-event:before {content:"";width:100%;height:2px;border-top:1px dashed #807272;position:absolute;bottom:8px;left:0;right:0;}
.section-timeline .timeline-event:after {content:"";width:20px;height:20px;border-radius:100%;border:2px solid #000000;position:absolute;bottom:0;background:#ffffff;z-index:9;}
.section-timeline .timeline-event:focus {outline:none;}
.section-timeline .timeline-event .year h3 {font-size:28px;margin-bottom:10px;}
.section-timeline .timeline-event h4 {min-height:50px;font-size:12px;padding-right:20px;}
.section-timeline .timeline-event {padding:10px 0;}

/* Search Page */ 
.section-search .card {display:none;border-top:0;border-left:0;border-right:0;padding-bottom:30px;}
.section-search .card .card-body {padding:0;}
.section-search .card .card-body .card-text span {background:yellow;}
.section-search .card .card-body .card-link {background:transparent;color:#000000;padding:0;}

/* Section > Portfolio */ 
.section-portfolio .portfolio-filter {border-top:1px solid #f4f4f4;border-bottom:1px solid #f4f4f4;width:100%;}
.section-portfolio .portfolio-filter .filter-button {display:inline-block;padding:10px 23px;background:transparent;border:none;color:#9b9b9b;letter-spacing:0;font-size:13px;cursor:pointer;font-weight:300;}
.section-portfolio .portfolio-filter .filter-button:hover , .section-portfolio .portfolio-filter .filter-button:focus , .section-portfolio .portfolio-filter .filter-button:active {background:#f4f4f4;color:#000000;}
.section-portfolio .portfolio-filter .filter-button:focus {outline:0;}
.section-portfolio .portfolio-filter {display:inline-block;text-align:center;margin:30px 0;}
.section-portfolio .portfolio-img img {width:100%;height:230px;-o-object-fit:cover;object-fit:cover;padding:3px 3px;}

/* Section > Image/Text */ 
.section-half .block-image {position:absolute;background-repeat:no-repeat;top:0;height:100%;z-index:0;width:50%;background-position:center center;}
.image--right {right:0;left:auto;}
.image--left {left:0;right:auto;}
.image--cover {background-size:cover;}
.image--contain {background-size:contain;}

/* Section > Footer */  
.section-footer p {color:#ffffff;} 

/* Section > Footer > Copy */  
.section-copy {font-size:12px;} 
.section-copy p {color:#ffffff;}

/* 
------------------------------------------
Shop 
------------------------------------------
 */ 

/* Head > Cart Dropdown Menu */ 
.dropdown-cart {min-width:250px;padding:15px 15px 0;}
.dropdown-cart li {margin-bottom:10px;}
.dropdown-cart li p {margin-bottom:0;}
.dropdown-cart .btn-primary {color:#ffffff;padding:8px 0;text-align:center;font-size:14px;}
.navbar .badge {position:absolute;left:10px;bottom:10px;z-index:9;background:#3d99f5;color:#ffffff;border-radius:100%;padding:3px 5px;font-size:10px;}

/* Section > Product Detail */ 
.section-product-detail .product-detail-code {margin-bottom:20px;}
.section-product-detail .product-detail-breadcrumbs .breadcrumb.breadcrumb {padding:8px 0;background-color:transparent;border-radius:0;font-size:12px;}
.section-product-detail .product-detail-title {font-weight:700;}
.section-product-detail .product-detail-price {font-size:40px;font-weight:700;margin-bottom:20px;}
.section-product-detail .product-detail-price span {font-size:16px;font-style:italic;font-weight:normal;}
.section-product-detail .product-detail-smalltext {margin-bottom:20px;}
.section-product-detail .product-detail-smalltext p {margin-bottom:0;}
.section-product-detail .product-detail-tab {margin-top:40px;}
.section-product-detail .product-detail-tab .tab-content {border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;border-left:1px solid #dddddd;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;padding:20px;}

/* Section > Product Related */ 
.section-products-related {background:#f4f4f4;}
.section-products-related h3 {margin-bottom:40px;font-weight:700;}

/* Page > Product (show more) */ 
.product {display:none;}

/* Page > Cart */ 
.alert-notices {padding-bottom:0;}
.section-shop-pages.cart .card.is--box {background:#f1f1f1;}
.section-shop-pages.cart .card.is--box .card-body {padding:10px;}
.section-shop-pages.cart .card .card-header {background:none;padding:15px 10px 0;font-weight:700;}
.section-shop-pages .form-group {margin-bottom:0;}
.section-shop-pages .form-control {border:1px solid #dddddd;margin-bottom:0;}
.section-shop-pages .select {margin-bottom:0;}

/* Shop Sidebar */ 
.shop-sidebar ul li {padding:5px 0;}
.shop-sidebar ul li a {color:#cccccc;}
.shop-sidebar ul li a:hover , .shop-sidebar ul li a.active {color:#000000;}
.shop-sidebar ul li a.logout:hover {color:#ff0000;}

/* Page > Login */ 
.section-login .card {padding:30px;}
.section-login .card .card-header {background:none;}
.section-login .card .card-header small {margin:20px 0;display:inline-block;opacity:.7;}
.section-login .card .card-body {padding:20px 0 0;}
.section-login .control {font-size:12px;}

/* Alerts */ 
.alert-notice {padding:0;}
.alert-notice .alert {margin:20px 0;}

/* Page > Panels */ 
.section-checkout .panel {box-shadow:none;}

/* Page > Detail */ 
.prod-detail .prod__thumbs ul {list-style:none;margin:0;padding:0;}
.prod-detail .prod__thumbs ul li {display:block;}
.prod-detail .prod__thumbs ul li img {border:1px solid #e2e2e2;height:120px;padding:13px 20px;margin-bottom:15px;}
.prod-detail .prod__img {border:1px solid #d7d7d7;padding:20px;height:485px;background-position:center center !important;background-size:80% !important;}
.prod__detail h1 {font-size:45px;color:#000000;text-transform:uppercase;}
.prod__detail-category {font-weight:300;font-size:21px;text-transform:uppercase;}
.prod__detail-price {font-size:35px;font-weight:700;display:inline-block;margin-top:20px;}
.prod__detail-vat {display:inline-block;font-size:13px;color:#9b9b9b;margin-left:15px;}
.prod__detail-fav {position:absolute;right:0;}
.prod__detail-table {display:inline-block;margin:20px 0;width:100%;}
.prod__detail-table span {font-weight:700;text-transform:uppercase;letter-spacing:2px;margin-bottom:4px;}
.prod__detail-table p {font-size:14px;}
.prod__detail-description p {font-size:14px;}
.prod__variations p {font-size:13px;color:#9b9b9b;height:27px;position:absolute;vertical-align:middle;transform:translate(0%,50%);margin:0;}
.prod__variations input.form-control.wauto {border:1px solid #ececec;box-shadow:none;max-width:80px;}
.prod__share {opacity:.4;color:#000000;font-size:12px;margin-top:30px;}
.prod__share i {opacity:.4;color:#000000;font-size:16px;}
.prod__share i:hover {opacity:1;}
.prod__share .list-inline {margin:0;}
.prod__share {display:inline-block;width:100%;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;padding:10px 0;}
.prod-description p , .prod-description ul li {font-size:13px;line-height:20px;color:#9b9b9b;}
.prod-related h3 {font-family:"Roboto",sans-serif;font-weight:300;text-transform:uppercase;}

/* Page > Checkout */ 
.section-checkout .checkout-bill .badge {border-radius:0;background:transparent;font-weight:700;color:#000000;padding:0;font-size:14px;}
.section-checkout .checkout-bill.affix .panel {width:360px;}
.section-checkout .checkout-bill .list-group-item {border:0;background:transparent;}
.section-checkout .checkout-bill__total span {font-weight:700;font-size:30px;}
.section-checkout .checkout-payments p {font-size:12px;margin-top:10px;font-weight:normal;}
.section-checkout .checkout-finalprice {font-size:20px;font-weight:700;padding:0 0 15px;}

/* 
------------------------------------------
End Shop 
------------------------------------------
 */ 

/* 
------------------------------------------
Responsive 
------------------------------------------
 */ 

/* Smartphone */ 
@media only screen and (max-width:767px) and (min-width:320px) {
/* Globals */ 
  body {padding-top:0;}
  
/* Head  */ 
  .navbar.navbar-default {min-height:50px;padding:0;border:0;border-radius:0;}
  .navbar.navbar-default .navbar-brand > img {height:43px;}
  .navbar-default .navbar-toggle .icon-bar {background-color:#333333;}
  .navbar-toggle {border:0;border-radius:0;padding:10px;}
  .navbar-toggle .icon-bar {height:3px;}
  .navbar-default .navbar-toggle:focus , .navbar-default .navbar-toggle:hover {background-color:transparent;}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {padding:5px 15px;}
  .navbar-brand {padding:7px;}
  
/* Head + Megamenu */ 
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu {position:relative;border:0;padding:0 20px 20px;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu {padding:10px 0;position:relative;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu ul {padding:15px 0 15px 15px;position:static;display:none;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu li a {padding:10px 0;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu.open ul {display:block;padding:0 0 15px 15px;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu a.dropdown-toggle {font-weight:normal;color:#333333;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu a.dropdown-toggle .fa {display:inline-block;}
  
/* Head + NavbarShop */ 
  .navbar-shop {position:absolute;padding:16px;right:70px;}
  .navbar-shop .list-inline {margin-bottom:0;}
  .navbar-shop a {padding:10px 5px;color:#333333;}
  .navbar-shop li .fa-shopping-cart {position:relative;}
  .navbar-shop .fa {font-size:20px;}
  
/* Carousels > Home */ 
  .carousel-home .card .card-overlay .card-body {padding:60px;}
  
/* Sidebar Toggle */ 
  .taber {cursor:pointer;position:relative;}
  .taber h4 {margin-bottom:0;font-weight:700;}
  .taber h4:after {font-family:"Font Awesome 5 Free";content:"\f068";color:#333333;font-size:12px;position:absolute;right:0;top:auto;}
  .taber.collapsed h4:after {content:"\f067";}
  
/* Section Footer */ 
  .section-footer .taber {border-bottom:1px solid rgba(255,255,255,.3);padding-bottom:10px;font-weight:700;margin-bottom:10px;}
  .section-footer .taber h4:after {font-family:"Font Awesome 5 Free";content:"\f068";color:#ffffff;font-size:12px;position:absolute;right:0;top:auto;}
  .section-footer .taber.collapsed h4:after {content:"\f067";}
  .section-footer .taber-body {padding-bottom:30px;}
  .section-copy {text-align:center;}
  
/* Card */ 
  .card .card-title {font-size:14px;}
  .card .card-price {font-size:18px;}
  
/* Forms */ 
  .form-request {margin-top:40px;}
  
/* Section */ 
  .section {padding:25px 0;}
  .section-header h1 {font-size:24px;text-align:center;}
  .section-breadcrumbs {display:none;}
  .section-contacts .contacts-map {margin-top:40px;}
  .section-video .videoContainer {pointer-events:auto;}
  
/* Section > Image/Text */ 
  .section.section-half {padding-top:0;}
  .section-half .block-image {position:relative;background-repeat:no-repeat;top:0;height:100%;z-index:0;width:100%;height:260px;background-position:center center;}
  .block-text.p-2 {padding:30px 0 !important;}
  .image--contain {background-size:cover;}
  
/* Section > Video */ 
  .section-video .videoContainer {height:240px;max-height:240px;transform:none;pointer-events:auto;}
  
/* Section > Footer */ 
  .section-copy .text-right {text-align:center;}
  
/* 
  ------------------------------------------
  Shop 
  ------------------------------------------
  */ 
  .btn-inline .col-xs-12:nth-child(1) {padding-left:15px;padding-right:15px !important;}
  .btn-inline .col-xs-12:nth-child(2) {padding-left:15px !important;margin-top:10px;}
  .section-login .card {padding:15px;}
  .prod-detail .prod__img {height:340px;margin-bottom:30px;background-size:70% !important;}
  .section-checkout .checkout-bill {margin-bottom:30px;}
  .section-checkout .checkout-bill.affix {position:relative;}
  .section-checkout .checkout-bill.affix .panel {width:100%;}
  .section-checkout .checkout-recap {text-align:left;font-size:13px;}
  
/* 
  ------------------------------------------
  End Shop 
  ------------------------------------------
  */ 
  
/* Table responsive */ 
  .table__is-card .table {border:0;}
  .table__is-card .table .table-bordered {border:0;}
  .table__is-card .table .table-bordered a.btn-secondary , .table__is-card .table .table-bordered a.btn-danger {font-size:11px;}
  .table__is-card .table .table > tbody > tr > td {height:auto;}
  .table__is-card .table .table > tbody > tr > td:last-child {border-bottom:0 !important;}
  .table__is-card .table table , .table__is-card .table thead , .table__is-card .table tbody , .table__is-card .table th , .table__is-card .table td , .table__is-card .table tr {display:block;}
  .table__is-card .table thead tr {position:absolute;top:-9999px;left:-9999px;}
  .table__is-card .table tr {border:1px solid #dddddd;margin-bottom:30px;}
  .table__is-card .table td {border:none;border-bottom:1px solid #dddddd;position:relative;padding-left:40%;white-space:normal;text-align:right;}
  .table__is-card .table td:last-child:before {display:none;}
  .table__is-card .table td:last-child {padding-left:15px;}
  .table__is-card .table td:before {position:absolute;top:15px;left:15px;width:30%;padding-right:10px;white-space:nowrap;text-align:left;font-weight:bold;}
  .table__is-card .table td:before {content:attr(data-title);}}

/* Smartphone Landscape 
@media only screen and (min-width:480px) and (max-width:767px){
}
 */ 

/* Tablet */ 
@media only screen and (min-width:768px) and (max-width:959px) {
/* Globals */ 
  body {padding-top:0;}
  
/* Mobile Nav Toggle */ 
  .navbar-header {float:none;}
  .navbar-collapse {border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1);}
  .navbar-fixed-top {top:0;border-width:0 0 1px;}
  .navbar-collapse {padding:0;}
  .navbar-collapse.collapse {display:none !important;padding:0;}
  .navbar-collapse.collapse.in {display:block !important;}
  .navbar-nav {float:none !important;margin-bottom:7.5px;margin-right:0;}
  
/* Head + Nav */ 
  .navbar.navbar-default {min-height:50px;padding:0;border:0;border-radius:0;}
  .navbar.navbar-default .navbar-brand > img {height:43px;}
  .navbar-default .navbar-nav > li , .navbar-default .navbar-nav > li > ul > li {float:none;display:block;width:100%;}
  .navbar-default .navbar-nav > li > a , .navbar-default .navbar-nav > li > ul > li > a {padding-top:10px;padding-bottom:10px;width:100%;display:block;}
  .navbar-default .navbar-nav li + li:before {display:none;}
  .navbar-default .navbar-toggle .icon-bar {background-color:#333333;}
  .navbar-toggle {border:0;border-radius:0;margin:9px;display:inline-block;}
  .navbar-toggle .icon-bar {height:3px;}
  .navbar-default .navbar-toggle:focus , .navbar-default .navbar-toggle:hover {background-color:transparent;}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {padding:5px 15px;}
  
/* Head + NavbarShop */ 
  .navbar-shop {position:absolute;padding:16px;right:70px;}
  .navbar-shop .list-inline {margin-bottom:0;}
  .navbar-shop a {padding:10px 5px;color:#333333;}
  .navbar-shop li .fa-shopping-cart {position:relative;}
  .navbar-shop .fa {font-size:20px;}
  
/* Head + Megamenu */ 
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu {position:relative;border:0;padding:0 20px 20px;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu {padding:10px 0;position:relative;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu ul {padding:15px 0 15px 15px;position:static;display:none;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu li a {padding:10px 0;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu.open ul {display:block;padding:0 0 15px 15px;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu a.dropdown-toggle {font-weight:normal;color:#333333;padding-bottom:0;}
  .navbar.navbar-default .dropdown.mega-menu .dropdown-menu .dropdown-submenu a.dropdown-toggle .fa {display:inline-block;}
  
/*  .navbar-nav > li > .dropdown-menu {position:relative;-webkit-box-shadow:none;box-shadow:none;width:100%;background:transparent;border:none;}
  .navbar-nav > li > .dropdown.open {-webkit-transition:all .3s;transition:all .3s;} */ 
  
/* Carousels > Home */ 
  .carousel-home .card .card-overlay .card-body {padding:60px;}
  
/* Sidebar Toggle */ 
  .taber {cursor:pointer;position:relative;}
  .taber h4 {margin-bottom:0;font-weight:700;}
  .taber h4:after {font-family:"Font Awesome 5 Free";content:"\f068";color:#333333;font-size:12px;position:absolute;right:0;top:auto;}
  .taber.collapsed h4:after {content:"\f067";}
  
/* Section Footer */ 
  .section-footer .taber {border-bottom:1px solid rgba(255,255,255,.3);padding-bottom:10px;font-weight:700;margin-bottom:10px;}
  .section-footer .taber h4:after {font-family:"Font Awesome 5 Free";content:"\f068";color:#ffffff;font-size:12px;position:absolute;right:0;top:auto;}
  .section-footer .taber.collapsed h4:after {content:"\f067";}
  .section-footer .taber-body {padding-bottom:30px;}
  .section-copy {text-align:center;}
  
/* Forms */ 
  .form-request {margin-top:40px;}
  
/* 
  ------------------------------------------
  Shop 
  ------------------------------------------
  */ 
  .section-checkout .checkout-bill {margin-bottom:30px;}
  .section-checkout .checkout-bill.affix {position:relative;}
  .section-checkout .checkout-bill.affix .panel {width:100%;}
  .prod-detail .prod__img {height:340px;margin-bottom:30px;background-size:contain !important;}
  .section-login .card {padding:15px;}
  .section-video .videoContainer {pointer-events:auto;}
  
/* 
  ------------------------------------------
  End Shop 
  ------------------------------------------
  */ }

/* Tablet Landscape */ 
@media only screen and (min-width:960px) and (max-width:1199px) {
/* Globals */ 
  body {padding-top:50px;}
  
/* Carousels > Home */ 
  .carousel-home .card .card-overlay .card-body {padding:60px;}
  
/* 
  ------------------------------------------
  Shop 
  ------------------------------------------
  */ 
  .section-checkout .checkout-bill.affix {position:relative;}
  .section-checkout .checkout-bill.affix .panel {width:100%;}
  
/* 
  ------------------------------------------
  End Shop 
  ------------------------------------------
  */ }

/* Laptop 13' - 1366x768 Non-Retina */ 
@media only screen and (min-width:1200px) and (max-width:1366px) {
/* Carousels > Home */ 
  .carousel-home .card .card-overlay .card-body {padding:60px;}}

/* Laptop 4:3 - 1440x1080 */ 
@media only screen and (min-width:1367px) and (max-width:1440px) {}
