/* Typography */ 

/* html {scroll-behavior:smooth;} */ 
body {font-family:"Roboto",sans-serif;color:#000000;padding-top:50px;}
a {word-wrap:break-word;text-decoration:none;color:currentColor;}
a:hover {text-decoration:none;}
a:focus {outline:0;}
a:active:focus {outline:0;}
label {font-weight:normal;}
h1 , h2 , h3 , h4 , h5 , h6 {margin-top:0;}

#exampleID {color:#000000;}

/* p {white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;} */

/* Placeholders */ 
::-webkit-input-placeholder {color:#555555;}
:-moz-placeholder {color:#555555;}
::-moz-placeholder {color:#555555;}
:-ms-input-placeholder {color:#555555;}

/* Utilities */ 
.p-auto {padding:auto !important;}

/* Page > Checkout */ 
.section-checkout .checkout-bill .badge {border-radius:0;background:transparent;font-weight:700;color:#000000;padding:0;font-size:14px;}

/* 
  ------------------------------------------
  Responsive 
  ------------------------------------------
*/ 

/* Smartphone */ 
@media only screen and (max-width:767px) and (min-width:320px) {
  /* Globals */ 
  body {padding-top:0;}
  
  /* Head  */ 
  .navbar.navbar-default {min-height:50px;padding:0;border:0;border-radius:0;}
  .navbar.navbar-default .navbar-brand > img {height:43px;}
  .navbar-default .navbar-toggle .icon-bar {background-color:#333333;}
  .navbar-toggle {border:0;border-radius:0;padding:10px;}
  .navbar-toggle .icon-bar {height:3px;}
  .navbar-default .navbar-toggle:focus , .navbar-default .navbar-toggle:hover {background-color:transparent;}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {padding:5px 15px;}
  .navbar-brand {padding:7px;}
}